@model BulkyBook.Models.ViewModels.PurchaseIndexVM

<h2>Customer Details</h2>

<a asp-controller="Purchase" asp-action="Create"  class="btn btn-primary mx-2">
    Create
</a>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var purchase in Model.PurchaseMasters)
        {
            <tr>
                <td>@purchase.CustomerName</td>
                <td>@purchase.CustomerEmail</td>
                <td>@purchase.CustomerNo</td>
                <td>@purchase.CustomerAddress</td>
                <td>@purchase.TransactionDate.ToShortDateString()</td>
                <td>
                    
                    <a asp-controller="Purchase" asp-action="View" asp-route-id="@purchase.Id" class="btn btn-primary mx-2">
                         View
                    </a>
                    <a asp-controller="Purchase" asp-action="Edit" asp-route-id="@purchase.Id" class="btn btn-primary mx-2">
                        Edit
                    </a>
                    <a asp-controller="Purchase" asp-action="Delete" asp-route-id="@purchase.Id" class="btn btn-primary mx-2">
                        Delete
                    </a>
                   
                </td>
            </tr>
        }
    </tbody>
</table>

